@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69;
}

body{
    background-color: white;
    /* var(--primary-color); */
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 400px !important;
    height: 400px !important;
    margin: 1rem;
    /* border-radius: 50px; */
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
    border-radius: 100%;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}



.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .movie_list{
    background-color: #a8a8ac;
    height: 100px;
  text-align: center;
border-radius: 15px;
  }

  .movie_list h1{
    margin: auto;
    padding-top: 30px;
    color: rgb(72, 85, 103);
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.div_footer {
    background-color: #a8a8ac;
    height: 100px;
  text-align: center;
border-radius: 15px;
padding-top: 30px;

}
.form_search {
    /* margin:auto; */
     /* max-width:300px;
    margin-left: 50px; */

}

/* .form_search input {
    border-radius: 25px;
    margin-left: 70%;
    height: 100px;
    padding-top: -50px;


} */

